swagger: '2.0'
info:
  version: 0.0.0
  title: Memenshare API
  description: Create and share your meme with Memenshare API
  license:
    name: MIT
    url: http://github.com/gruntjs/grunt/blob/master/LICENSE-MIT
host: memenshare.herokuapp.com
basePath: /api
schemes:
  - http
consumes:
  - application/json
produces:
  - application/json

parameters:
  sort:
    name: sort
    in: query
    description: Sort resources as per the JSON:API specification
    required: false
    type: string
  include:
    name: include
    in: query
    description: Fetch additional resources as per the JSON:API specification
    required: false
    type: string
  filter:
    name: filter
    in: query
    description: Filter resources as per the JSON:API specification
    required: false
    type: string
  fields:
    name: fields
    in: query
    description: Limit response payloads as per the JSON:API specification
    required: false
    type: string
  page:
    name: page
    in: query
    description: Pagination namespace
    required: false
    type: string

paths:
  /memes:
    get:
      description: |
        Returns all memes from the system
      operationId: findMemes
      parameters:
        - name: tags
          in: query
          description: tags to filter by
          required: false
          type: array
          collectionFormat: csv
          items:
            type: string
        - name: limit
          in: query
          description: maximum number of results to return
          required: false
          type: integer
          format: int32
      responses:
        200:
          description: meme response
          schema:
            type: object
            properties:
              links:
                $ref: '#/definitions/Links'
              data:
                type: array
                items:
                  $ref: '#/definitions/ExtendedMeme'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Errors'
    post:
      description: Creates a new meme in the store
      operationId: addMeme
      parameters:
        - name: meme
          in: body
          description: Meme to add to the store
          required: true
          schema:
            $ref: '#/definitions/Meme'
      responses:
        200:
          description: meme response
          schema:
            $ref: '#/definitions/Meme'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Errors'

  /memes/{id}:
    get:
      description: Returns a single meme based on the ID supplied
      operationId: find meme by id
      parameters:
        - name: id
          in: path
          description: ID of meme to fetch
          required: true
          type: integer
          format: int64
      responses:
        200:
          description: meme response
          schema:
            $ref: '#/definitions/ExtendedMeme'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Errors'
    delete:
      description: deletes a single meme based on the ID supplied
      operationId: deleteMeme
      parameters:
        - name: id
          in: path
          description: ID of meme to delete
          required: true
          type: integer
          format: int64
      responses:
        204:
          description: meme deleted
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Errors'

definitions:
  Meme:
    type: object
    required:
      - type
      - attributes
      - links
    properties:
      type:
        type: string
      links:
        $ref: '#/definitions/Links'
      attributes:
        type: object
        properties:
          title:
            type: string
          author:
            type: string
          tags:
            type: array
            items:
              type: string

  ExtendedMeme:
    allOf:
      - $ref: '#/definitions/Meme'
      - type: object
        properties:
          id:
            type: string
          updatedAt:
            type: string
            format: date
          createdAt:
            type: string
            format: date

  Errors:
    type: object
    properties:
      errors:
        type: array
        items:
          $ref: '#/definitions/Error'

  Error:
    type: object
    required:
      - status
      - title
    properties:
      status:
        type: integer
        format: int32
      title:
        type: string
      detail:
        type: string

  Links:
    type: object
    required:
      - self
    properties:
      self:
        type: string
