<!DOCTYPE html>
<html>

<head>
    <style type="text/css">
    #content {
        position: relative;
        display: inline-block;
    }

    h1 {
      color: #FFF;
      font-size: 50px;
      position: absolute;
      text-align: center;
      width: 100%;
      word-wrap: break-word;
      text-shadow: 1px 1px 1px #000;
    }

    #top-text {
      top: 0;
      margin-top: 5px;
    }

    #bottom-text {
      bottom: 0;
      margin-bottom: 5px;
    }
    </style>
</head>

<body>
    <div id="content">
        {% block content %} {% endblock %}
    </div>
</body>

</html>
