<!DOCTYPE html>
<html>

<head>
    <style type="text/css">
    #content {
        position: relative;
        display: inline-block;
    }

    #top-text {
      color: #FFF;
      font-size: 32px;
      position: absolute;
      top: 0; left: 30%;
    }

    #bottom-text {
      color: #FFF;
      font-size: 32px;
      position: absolute;
      bottom: 0; left: 30%;
    }
    </style>
</head>

<body>
    <div id="content">
        {% block content %} {% endblock %}
    </div>
</body>

</html>
